p {
    color: black
}
body {background-color: lightblue}
p{
    font-family: "Times New Roman", Times, serif;
}
h1{
    font-family: "Lucida Console", "Courier New", monospace;
}
li {
    display: inline; 
    padding-inline: 10px;
    }
    